node_modules
.env
firebase.json
firestore.indexes.json
firestore.rules
build
build_log.txt
firebase-debug.log
ts_output*.txt
build_*.txt
docs/Mini_Project_Report.md
src/components/layout/Sidebar.tsx
Light_Suvara_Mini_Project_Report.md
Public/Mini Project Format edited.pdf
Public/Miniproject Report guidelines 2023 batch.docx
Public/sample report (1).pdf
